@import "fonts"


//----------------------fonts---------------------
$fonts: 'Montserrat', sans-serif
$title: 'Rubik', sans-serif
//---------------------end-fonts---------------------

//----------------------color---------------------
$accent: #e90002
$text: #fff
$bg: #2d2d2d
$black: #131313
//---------------------end-color---------------------

body
	overflow-x: hidden
	position: relative
	min-width: 320px
	font-family: $fonts
	font-size: 14px
	color: $text
	line-height: 1.4
	font-weight: 400
	background-color: $bg
	min-height: 100vh

::selection
	background-color: $accent
	color: #fff

a, div, ul, li, input, textarea
	transition: all .6s

	&:hover,
	&:focus
		outline: none
	
h1, h2, h3, h4, h5, h6
	font-weight: 500
	line-height: 1.2
	margin: 0
	padding: 0
	font-family: $title

h2
	font-size: 36px
	text-align: center

ul
	margin: 0
	padding: 0
	list-style-type: none

i
	font-style: normal
	font-size: 16px
	color: #fff

input, textarea
	border: none
	border-radius: 0
	outline: none
	box-shadow: none
	-webkit-appearance: none
	width: 100%
	background-color: #626262
	border-radius: 5px
	color: #b4b4b4
	padding: 0 15px

	&:focus:required:invalid
		border-color: red
		outline: none
		box-shadow: none
		-webkit-appearance: none

	&:required:valid
		border-color: green
		outline: none
		box-shadow: none
		-webkit-appearance: none

	&::placeholder
		color: #b4b4b4

input
	height: 40px
	line-height: 40px

	&::placeholder
		line-height: 40px

	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder
		line-height: 40px

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type="number"]
	-moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
	-moz-appearance: number-input

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0


textarea
	&::placeholder
		line-height: 1.4

select
	background-color: $bg
	border: none
	border-radius: 5px
	outline: none
	color: #fff
	height: 40px
	padding-left: 15px
	padding-right: 25px
	width: 190px
	margin: 0 15px
	cursor: pointer
	font-size: 12px
	line-height: 40px
	margin-bottom: 5px

	&:hover,
	&:focus,
	&:active
		color: $accent
		background-color: $bg !important

button
	background-color: transparent
	border: none
	outline: none
	color: #fff
	padding: 0
	margin: 0
	transition: all .6s

	&:hover,
	&:focus
		color: $accent


b, strong
	font-weight: 500

p
	margin: 0
	padding: 0

a,
a:focus,
a:hover,
button,
button:focus,
button:hover,
	outline: none
	text-decoration: none



@import "_base/preloader"
@import "_base/animation"
@import "_base/btn"
@import "_base/form"
@import "_base/modal"
@import "_base/hamburger"